<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html lang=en xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{judulku}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="refresh" content="{sesidt}; URL={sumber}/expire.php">
<meta name="author" content="{author}">
<meta name="description" content="{description}">
<meta name="url" content="{url}">
<meta name="keywords" content="{keywords}">
<link href="{sumber}/inc/style/sisfokol.css" rel="stylesheet" type="text/css">
<link href="{sumber}/inc/style/flexdropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{sumber}/inc/js/jquery.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/flexdropdown.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" onLoad="{diload}">
<div align="left">
  <TABLE WIDTH=2000 BORDER=0 CELLPADDING=3 CELLSPACING=0>
    <TR bgcolor="black" background="{sumber}/img/header.png">
<td width="50">
<img src="{sumber}/img/logo.png" width="50" height="50" border="0">
</td>
      <TD>
	  <font color="#FFFFFF">
	  <big><strong>{sek_nama}</strong></big>
	  <br>
	  <em>{sek_alamat}</em>
	  <br>
	  <em>{sek_kontak}</em>
	  </font>
	  </TD>
    </TR>
  </TABLE>

 <table width="2000" height="500" border="0" cellpadding="0" cellspacing="0" bgcolor="#dddfed">
    <tr>
      <td valign="top">
	  {isi}
	  <br>
	  <br>
	  <br>
	  </td>
    </tr>
  </table>

  <table width="2000" border="0" cellpadding="5" cellspacing="0" bgcolor="black">
    <tr>
      <td align="right">
	  <font color="white">
	  &copy;2017. {versi}
	  </font>
	  </td>
    </tr>
  </table>
  
  
  
 

</div>


</body>
</html>